<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kzm.blog.mapper.comment.CommentMapper">

    <update id="likeNumAdd">
        update  comment set  like_num=like_num+1 where id=#{id}
    </update>
    <update id="likeNumReduce">
        update  comment set  like_num=like_num-1 where id=#{id}
    </update>
    <delete id="delteArticle">
        delete  from  comment where  owner_id=#{id}
    </delete>
    <delete id="deleteUsrLike">
        delete  from  comment_user_like
        <where>
            comment_id in
            <foreach collection="collect" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>
</mapper>